.footer {
  align-items: flex-end;
  box-shadow: 0px -1px 4px 0px #4443;
  display: flex;
  height: 60px;
  justify-content: space-between;
  margin-top: 0;
  padding: 10px 20px;
  text-align: right;
  width: 100%;
}

.link {
  margin-right: 20px;
  text-decoration: none;

  img {
    height: 22px;
    margin-bottom: 5px;
  }
}

.ph {
  height: 47px;
  width: auto;
}