.container {
  align-items: flex-end;
  border: none !important;
  display: flex;
  flex-direction: row-reverse;
  font-family: 'Didact Gothic', sans-serif;
  margin-bottom: 26px;
  overflow-y: auto;
  position: relative;
  overflow: hidden;
  transition: width 0.3s;
}

.toggle {
  background: white;
  background-clip: inherit;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='28' width='40' viewbox='0 0 40 28' stroke-width='2' stroke='white'%3E%3Cpath d='M0,20 L20,12 L40,20 L20,28 Z' fill='%23816C5Bdd' /%3E%3Cpath d='M0,14 L20,6 L40,14 L20,22 Z' fill='%236b93d6dd' /%3E%3Cpath d='M0,8 L20,0 L40,8 L20,16 Z' fill='%239fc164dd' /%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  border: 2px solid #00000033;
  border-radius: 4px;
  box-sizing: content-box;
  flex-shrink: 0;
  height: 40px;
  padding: 0;
  position: relative;
  transition: left 0.3s;
  width: 44px;

  .open > & {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='20' width='20' viewbox='0 0 40 40' stroke-width='2' stroke='black' stroke-linecap='round'%3E%3Cline x1='10%25' y1='10%25' x2='90%25' y2='90%25' /%3E%3Cline x1='90%25' y1='10%25' x2='10%25' y2='90%25' /%3E%3C/svg%3E%0A");
    // border-radius: 0px 4px 4px 0px;
    // border-left: none;
  }
}

.layers {
  background: white;
  background-clip: inherit;
  border: 2px solid #00000033;
  border-radius: 4px;
  display: flex;
  flex-shrink: 0;
  list-style: none;
  margin: 0;
  opacity: 0;
  overflow: auto;
  padding: 10px 20px 5px;
  transition: opacity 0.2s;

  .open & {
    opacity: 1;
  }

  label {
    height: 20px;
    display: flex;
    
    input[type=checkbox] {
      height: 13px;
      margin: 4px 13px 4px 4px;
      width: 13px;
    }
  }

  > li.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;

    &:not(:first-child) {
      margin-left: 20px;
    }

    .layer-toggle {
      background-size: contain;
      background-repeat: no-repeat;
      border: 2px solid #ddd;
      border-radius: 8px;
      height: 60px;
      width: 60px;
    }

    .layer-label {
      color: #666;
      font-size: 10px;
      line-height: 12px;
      margin-top: 5px;
      text-align: center;
      width: 75px;
    }

    &.layer-visible {
      .layer-toggle {
        border-color: #666;
      }

      .layer-label {
        color: #444;
        font-weight: bold;
      }
    }

    // &:first-child {
    //   margin-top: 0;
    // }

    // .layer-header {
    //   display: flex;
    //   justify-content: space-between;

    //   label {
    //     color: black;
    //     font-size: 14px;
    //   }
  
    //   .features-toggle {
    //     background: none;
    //     border: none;
    //     color: blue;
    //     font-family: 'Roboto', sans-serif;
    //     font-size: 12px;
    //     margin-left: 30px;
    //     margin-top: 1px;
    //     padding: 0;
    //     text-decoration: underline;
    //     width: 45px;

    //     &::before {
    //       content: "expand";
    //     }
    //   }
    // }

    // hr {
    //   display: none;
    //   margin-left: 30px;
    //   margin-top: 4px;
    // }
    
    // ul {
    //   color: #444;
    //   font-family: 'Roboto', sans-serif;
    //   font-size: 12px;
    //   list-style: none;
    //   margin-bottom: 10px;
    //   padding-left: 30px;
    //   display: none;
    // }

    // .feature {
    //   transition: height 0.3s;

    //   .feature-header {
    //     cursor: pointer;
        
    //     &:hover {
    //       font-weight: bold;
    //       text-decoration: underline;
    //     }
    //   }

    //   .feature-header ~ * {
    //     display: none;
    //     margin-top: 5px;
    //   }

    //   img {
    //     width: 100%;
    //   }

    //   .description {
    //     overflow: hidden;
    //     text-overflow: ellipsis;
    //   }

    //   &.selected {
    //     border: 1px solid #444;
    //     margin: 5px 0;
    //     padding: 5px;

    //     .feature-header {
    //       font-weight: bold;
    //     }

    //     .feature-header ~ * {
    //       display: block;
    //     }
    //   }
    // }

    // &.open {
    //   hr, ul {
    //     display: block;
    //   }

    //   .layer-header .features-toggle::before {
    //     content: "collapse";
    //   }
    // }

    // &:not(.layer-visible) {
    //   ul {
    //     color: #aaa;
    //     pointer-events: none;
    //   }
    // }
  }
}