.container {
  display: flex;
  max-width: 400px;

  .toggle, .toggle:hover {
    border-bottom-width: 0px;
  }

  .form, .close {
    display: none;
  }

  &.open {
    width: 80vw;

    .form, .close {
      display: initial;
    }

    .toggle {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='20' width='20' stroke='black' stroke-width='2px' fill='none'%3E%3Ccircle cx='45%25' cy='45%25' r='30%25'%3E%3C/circle%3E%3Cline x1='70%25' y1='70%25' x2='100%25' y2='100%25'%3E%3C/line%3E%3Cline x1='80%25' y1='12%25' x2='12%25' y2='80%25' stroke='white' stroke-width='6px'%3E%3C/line%3E%3Cline x1='80%25' y1='12%25' x2='12%25' y2='80%25'%3E%3C/line%3E%3C/svg%3E");
      border-bottom-right-radius: 0 !important;
      border-top-right-radius: 0 !important;
    }

    .close {
      border-bottom-left-radius: 0 !important;
      border-top-left-radius: 0 !important;
    }
  }
}

.toggle {
  border-radius: 2px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='20' width='20' stroke='black' stroke-width='2px' fill='none'%3E%3Ccircle cx='45%25' cy='45%25' r='30%25'%3E%3C/circle%3E%3Cline x1='70%25' y1='70%25' x2='100%25' y2='100%25'%3E%3C/line%3E%3C/svg%3E");
  background-size: 60%;
}

.form {
  border-left: 1px solid #ccc;
  flex: 1;
  position: relative;
}

.input {
  border: none;
  height: 30px;
  padding-left: 8px;
  width: 100%;

  &:focus {
    outline: none;
  }
}

.suggestions {
  position: absolute;
  left: -2px;
  right: -32px;
  top: 100%;
  
  background: white;
  background-clip: padding-box;
  border: 2px solid rgba(0,0,0,0.2);
  border-top: none;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  display: none;
  list-style: none;
  margin: 0;
  padding: 4px;

  .has-suggestions & {
    display: initial;
  }
}

.suggestion-item {
  padding: 4px;

  &.selected {
    background: #eee;
  }
}

.close {
  font-size: 15px;
}